Branch.png
Branch1.png
branching.PNG 
commit.PNG 
comtrans.PNG 
Conflict.PNG 
diff.PNG 
graph.PNG 
graph0.PNG 
merging.PNG 
merging1.PNG 
status.PNG 
switcbranch.PNG 
switching.PNG
Branch_v.PNG 
Ignor.PNG 
noMerged.PNG 
Status1.PNG 
CreateFork.PNG
Fork.PNG
transition.PNG

  

